.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
}

.image-avatar {
  object-fit: cover;
}

.generated-avatar {
  cursor: default;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}