<mat-card *ngIf="team">
    <mat-card-title class="d-flex align-items-center">
        {{ team.name }}
        <mat-icon
            class="ml-2"
            matBadgePosition="after"
            matBadgeSize="medium"
            matBadgeColor="warn"
            matBadge="{{ team.members.length + 1}}"
        >
            people
        </mat-icon>
    </mat-card-title>    
    <img mat-card-image [src]="team.banner">
    <mat-card-content *ngIf="team.description && team.description !== ''">
        <p>
            {{ team.description }}
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf="showActions">
        <a 
            mat-stroked-button
            routerLink="/app/teams/{{ team._id }}"
            id="detailsbutton"
            color="primary"
        >
            Details
        </a>
        <button 
            mat-stroked-button
            (click)="triggerRemove()"
            id="removebutton"
            color="accent"
        >
            Remove
        </button>
    </mat-card-actions>
</mat-card>
