<mat-sidenav-container class="page-container">
  <mat-sidenav
    #drawer
    position="start"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="over"
    >
    <h1>Organise.me</h1>
    <mat-nav-list>
      <!---List of Task Groups here-->
      <mat-divider></mat-divider>
      <mat-list-item mat-list-icon>Collaborative List</mat-list-item>
       <!---List of Collaborative List here-->
      <mat-divider></mat-divider>
      <mat-list-item mat-list-icon>Teams</mat-list-item>
       <!---List of Teams here-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="sideMenuToggle"
        type="button"
        aria-label="Toggle Menu"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <span>Today</span>
        <button class="profileIcon" [matMenuTriggerFor]="profileMenu" mat-icon-button>
          U
        </button>
        <mat-menu #profileMenu="matMenu" xPosition="before" [overlapTrigger]="false">
          <button mat-menu-item routerLink="/app">Home</button>
          <button mat-menu-item routerLink="/app/profile/{{currentUserId}}">Profile</button>
          <button mat-menu-item routerLink="/app/settings">Settings</button>
          <button mat-menu-item>Help</button>
          <button mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <mat-sidenav-container hasBackdrop="false" class="content">
      <mat-sidenav [(opened)]="rightPaneService.opened" class="rightPane" mode="side" position="end">
        <app-task-detail></app-task-detail>        
      </mat-sidenav>
      <ng-content></ng-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
