.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  margin-bottom: 48px;
}

.container {
  align-items: center;
  display: flex;
  left: -40px;
  position: relative;
}

.profileIcon {
  border: 2px solid white;
  line-height: 39px;
  margin-left: auto;
}