<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    position="start"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="over"
    >
    <h1>Organise.me</h1>
    <mat-nav-list>
      <!---List of Task Groups here-->
      <mat-divider></mat-divider>
      <mat-list-item mat-list-icon>Collaborative List</mat-list-item>
       <!---List of Collaborative List here-->
      <mat-divider></mat-divider>
      <!--<mat-list-item mat-list-icon><a
          routerLink="/app/team">Teams</a></mat-list-item-->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Teams</mat-panel-title>
                </mat-expansion-panel-header>
                
                <!-- Team items -->
                <mat-list-item><a routerLink="/app/teamcreate">Create a
                        Team</a></mat-list-item>
                <mat-list-item>My Teams</mat-list-item>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="sideMenuToggle"
        type="button"
        aria-label="Toggle Menu"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <span>Today</span>
        <button class="profileIcon" [matMenuTriggerFor]="profileMenu" mat-icon-button>
          U
        </button>
        <mat-menu #profileMenu="matMenu" xPosition="before" [overlapTrigger]="false">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
          <button mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
