<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    position="start"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="over"
    >
    <mat-toolbar height=200% color="white">Your-Name-Here <br>Tasks</mat-toolbar>
    <mat-nav-list>
      <!---List of Task Groups here-->
      <mat-divider></mat-divider>
      <mat-list-item mat-list-icon>Collaborative List</mat-list-item>
       <!---List of Collaborative List here-->
      <mat-divider></mat-divider>
      <mat-list-item mat-list-icon>Teams</mat-list-item>
       <!---List of Teams here-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav
    #profile
    position="end"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="over"
    >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Today</span>
      <span class="divider"></span>
      <button 
        type="button"
        aria-label="Toogle sidenav"
        mat-fab
        (click)="profile.toogle()"
        color ="primary"
      >
        <mat-icon aria-label="Right side nav toogle icon">M</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
