.logo {
  padding: 0 16px;
  margin: 20px 0;
}

.page-container {
  background: #673ab7;
}

.content {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px; 
  height: 100vh;
  overflow: hidden;
  padding-top: 32px;
}

.sideMenuToggle {
  position: absolute;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.container {
  align-items: center;
  display: flex;
}

.profileIcon {
  border: 2px solid white;
  line-height: 39px;
  margin-left: auto;
}

.rightPane {
  background: #fafafa;
  border-left: 1px solid #ececec;
  width: 300px;
}