<form class="col-md-4" (submit)="checkAuth()">
  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password">
  </div>
  <div class="form-group">
    <button type="submit" class="btn">Login</button>
  </div>
  <div class="form-group">
    Need an account? <a routerLink="/signup">Sign up here</a> 
  </div>
</form>

<div *ngIf="wrongpass">
  You have entered a wrong password
</div>