<!-- The tab menu row -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs">
            <!--li class="active"><a href="#">Current Tasks</a></li-->
            <li [ngClass]="{active: showCurTasks}" (click)="switchToCurTasks()">
                <a href="#">Current Tasks</a>
            </li>
            <li [ngClass]="{active: showTaskForm}" (click)="switchToTaskForm()">
                <a href="#">Create a New Task</a>
            </li>
        </ul>
    </div>
</div>

<app-taskdisplay *ngIf="showCurTasks"></app-taskdisplay>
<app-taskform *ngIf="showTaskForm"></app-taskform>
