<form [formGroup]="userFormGroup">
    <mat-grid-list cols="1" rowHeight="13:1">
        <mat-grid-tile>
            <mat-form-field id="memberSearch" appearance="outline">
                <mat-label>Member Search</mat-label>
                <input type="search"
                       matInput
                       placeholder="Search for your team members..."
                       formControlName="SearchCtrl"
                       [formControl]="myUserControl"
                       [matAutocomplete]="auto">
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of filteredUsers | async"
                       [value]="user.username" (click)="selectMember()">
                    <img class="profileimg" [src]="user.profile">
                    <span>{{ user.username }}</span>
                    <mat-divider></mat-divider>
                </mat-option>
            </mat-autocomplete>
        </mat-grid-tile>
    </mat-grid-list>
</form>
