.task.selected {
    background: rgba(0, 0, 0, 0.1);
}

.task-checkbox {
    margin: 0 16px;
}

.task-title.completed {
    text-decoration: line-through;
}

.task-duedate-close {
    color: #ff4444;
}

.task-duedate-past {
    font-style: italic;
    text-decoration: line-through;
}

.task-important {
    margin-left: auto;
}