.task.selected {
    background: rgba(0, 0, 0, 0.1);
}

.task-checkbox {
    margin: 0 16px 0 0;
}

.task-title.completed {
    text-decoration: line-through;
}

.task-info {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-right: 8px;
}

.task-info > mat-icon {
    margin-right: 8px;
}

.task-duedate-close {
    color: #ff4444;
}

.task-duedate-past {
    font-style: italic;
    text-decoration: line-through;
}

.task-right {
    align-items: center;
    display: flex;
    margin-left: auto;
}