<a 
    *ngIf="!completed"
    mat-list-item
    class="task"
    [class.selected]="rightPaneService.opened && rightPaneService.task._id === task._id"    
    (click)="openDetailPane()"    
>
    <ng-content select="[drag-handle]"></ng-content>
    <mat-checkbox
        class="task-checkbox"
        (change)="toggleTaskCompleted($event)" 
        (click)="$event.stopPropagation()"
    ></mat-checkbox>
    <div class="task-info">
        <span matLine class="task-title">{{ task.title }}</span>
        <span 
            *ngIf="task.dueDate"
            matLine 
            class="task-duedate"
            [ngClass]="{'task-duedate-close': isNearDueDate, 'task-duedate-past': isPastDueDate }"
        >
            {{ formattedDueDate }}
        </span>
    </div>
    <app-avatar class="assignee" *ngIf="task.assignee" [user]="task.assignee"></app-avatar>
    <mat-icon
        *ngIf="!task.completed"
        class="task-important" 
        (click)="toggleTaskImportance($event)"
    >
        {{ important ? 'star' : 'star_outline' }}
    </mat-icon>
</a>

<mat-list-item *ngIf="completed" class="task">
    <ng-content select="[drag-handle]"></ng-content>
    <mat-checkbox 
        checked="true"
        class="task-checkbox"
        (change)="toggleTaskCompleted($event)" 
        (click)="$event.stopPropagation()"
    ></mat-checkbox>
    <span class="task-title completed">{{ task.title }}</span>
</mat-list-item>

<ng-content select="[drag-preview]"></ng-content>