<a 
    *ngIf="!completed"
    mat-list-item
    class="task"
    [class.selected]="rightPaneService.opened && rightPaneService.task._id === task._id"    
    (click)="openDetailPane()"    
>
    <div style="display: flex;order: -1;">
        <ng-content select="[drag-handle]"></ng-content>
        <mat-checkbox
            class="task-checkbox"
            (change)="toggleTaskCompleted($event)" 
            (click)="$event.stopPropagation()"
        ></mat-checkbox>
    </div>
    <div style="display:flex" mat-line>
        <span matLine class="task-title">
            {{ task.title }} 
        </span>
    </div>
    <div style="display:flex" mat-line>
        <span *ngIf="task.list && task.list.team && showTeam" class="task-info">
            <mat-icon inline>group</mat-icon>
            {{ task.list.team.name }}
        </span>
        <span *ngIf="task.list && showList" class="task-info d-sm-none d-md-flex">
            <mat-icon inline>list</mat-icon>
            {{ task.list.title }}
        </span>
        <span *ngIf="task.assignee && showAssignee" class="task-info">
            <mat-icon inline>person</mat-icon>
            {{ task.assignee.username }}
        </span> 
        <span 
            *ngIf="task.dueDate"
            class="task-info task-duedate"
            [ngClass]="{'task-duedate-close': isNearDueDate, 'task-duedate-past': isPastDueDate }"
        >
            <mat-icon inline>calendar_today</mat-icon>
            {{ formattedDueDate }}
        </span>    
    </div>
    <div class="task-right">
        <button
            *ngIf="!task.completed && showImportance"
            mat-icon-button
            class="task-important" 
            (click)="toggleTaskImportance($event)"
        >
            <mat-icon>{{ important ? 'star' : 'star_outline' }}</mat-icon>
        </button>
    </div>
</a>

<mat-list-item *ngIf="completed" class="task">
    <ng-content select="[drag-handle]"></ng-content>
    <mat-checkbox 
        checked="true"
        class="task-checkbox"
        (change)="toggleTaskCompleted($event)" 
        (click)="$event.stopPropagation()"
    ></mat-checkbox>
    <span class="task-title completed">{{ task.title }}</span>
</mat-list-item>

<ng-content select="[drag-preview]"></ng-content>