<mat-spinner
    *ngIf="loading"
    class="loading"
    color="primary"
    diameter="40">
  </mat-spinner>
<div *ngIf="!loading">
  <form (submit)="createList()">
    <mat-form-field class="quickAdd" appearance="outline">
      <mat-label>Add New List</mat-label>
      <input matInput [(ngModel)]="inputListField" name="inputListField">
      <mat-icon matSuffix>add</mat-icon>
    </mat-form-field>  
  </form>
  <mat-nav-list>
    <a 
      *ngFor="let list of lists"
      mat-list-item
      class="list-item"
      routerLink="/app/teams/{{teamId}}/lists/{{list._id}}"
    >
      <h3 matLine>{{list.title}}</h3>
      <mat-icon>arrow_forward_ios</mat-icon>
    </a>
  </mat-nav-list>
</div>