<mat-spinner
    *ngIf="loading"
    class="loading"
    color="primary"
    diameter="40">
  </mat-spinner>
<div *ngIf="!loading">
  <form (submit)="createList()">
    <mat-form-field class="quickAdd" appearance="outline">
      <mat-label>Add New List</mat-label>
      <input matInput [(ngModel)]="inputListField" name="inputListField">
      <mat-icon matSuffix>add</mat-icon>
    </mat-form-field>  
  </form>
  <h1>{{teamId}}</h1>
  <a 
    mat-list-item 
    *ngFor="let list of lists"
    class="taskList"
    (click)="requestDrawerClose()"
  >
    <mat-icon 
      matListIcon
    >
      group_work
    </mat-icon>
    <h3 matLine>{{list.title}}</h3>
  </a>
</div>