<mat-card>
    <mat-card-header>
        <mat-card-title>{{ teamMember.user.username }}</mat-card-title>
        <mat-card-subtitle>{{ teamMember.user.name }}</mat-card-subtitle>
        <app-avatar mat-card-avatar [user]="teamMember.user"></app-avatar>
    </mat-card-header>
    <mat-card-content *ngIf="teamMember.user.bio">
        <p>
            {{ teamMember.user.bio }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-checkbox
            [checked]="teamMember.isCreator"
            [disabled]="creatorDisabled" 
        >
            Creator
        </mat-checkbox>
        <mat-checkbox
            [checked]="teamMember.isLeader"
            [disabled]="leaderDisabled" 
            (click)="changeLeadership()"
        >
            Leader
        </mat-checkbox>
        <button 
            mat-stroked-button 
            [disabled]="removeDisabled"
            (click)="removeMember()"
            color="accent"
        >
            Remove
        </button>
    </mat-card-actions>
</mat-card>

