<mat-nav-list>
  <mat-divider></mat-divider>
  <a 
    mat-list-item 
    routerLink="/app/today"
    routerLinkActive="active-list-item"
    (click)="changeAppTitle($event)"
  >
    Today
  </a>
  <a 
    mat-list-item 
    routerLink="/app/me"
    routerLinkActive="active-list-item"
    (click)="changeAppTitle($event)"
  >
    Assigned To Me
  </a>
  <mat-divider></mat-divider>
  <h3 matSubheader>Lists</h3>
  <a 
    mat-list-item 
    *ngFor="let taskList of taskLists"
    class="taskList"
    routerLink="/app//lists/{{taskList._id}}"
    routerLinkActive="active-list-item"
    (click)="requestDrawerClose()"
  >
    <mat-icon 
      *ngIf="taskList.collaborators && taskList.collaborators.length > 0"
      matListIcon
      [matBadge]="taskList.collaborators.length"
      matBadgeColor="primary"
    >
      group_work
    </mat-icon>
    <h3 matLine>{{taskList.title}}</h3>
  </a>
  <a 
    mat-list-item 
    routerLink="/app//lists/create"
    routerLinkActive="active-list-item"
    (click)="changeAppTitle($event)"
  >
      <mat-icon matListIcon>add</mat-icon>
      <h3 matLine>Create List</h3>
  </a>
  <mat-divider></mat-divider>
  <!---List of Teams here-->
  <h3 matSubheader>Teams</h3>
  <a
    mat-list-item
    routerLink="/app/teams"
    routerLinkActive="active-list-item"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="changeAppTitle($event)"
  >
    My Teams
  </a>
  <a 
    mat-list-item 
    routerLink="/app/teams/create"
    routerLinkActive="active-list-item"
    (click)="changeAppTitle($event)"
  >
    <mat-icon matListIcon>add</mat-icon>
    <h3 matLine>Create Team</h3>
  </a>
</mat-nav-list>