<form [formGroup]="commentFormGroup">
    <mat-form-field appearance="outline" class="commentInput">
        <input 
            matInput
            (keydown.enter)="postComment();resetComment()"
            formControlName="CommentCtrl"
            placeholder="Type a message"
        >
        <mat-icon 
            matSuffix
            [color]="sendHighlight"
            (mouseover)="sendHighlight='accent'"
            (mouseout)="sendHighlight='primary'"
            (click)="postComment();resetComment()">send</mat-icon>
    </mat-form-field>
</form>
<div class="messages">
    <app-message *ngFor="let msg of messagesToRender" [message]="msg"></app-message>
</div>
