.heading-component{
    text-align: center;
}

.form-button {
    margin-left: 10px;
    margin-right: 10px;
}

<<<<<<< HEAD
#profilePic {
    max-width: 20%;
    max-height: 20%;
}

.profile_picture{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

=======
>>>>>>> parent of e66b8cb... Merge pull request #89 from andrewnguyenism/profile_picture_comp
.spinner {
    text-align: center;
}
