<mat-nav-list class="container">
  <mat-spinner
    *ngIf="loading"
    class="loading"
    color="primary"
    diameter="40">
  </mat-spinner>
  <div *ngIf="!loading">
    <form (submit)="addTask()">
      <mat-form-field class="quickAdd" appearance="outline">
        <mat-label>Add New Task</mat-label>
        <input matInput [(ngModel)]="quickAddTask" name="quickAddTask">
        <mat-icon matSuffix>add</mat-icon>
      </mat-form-field>  
    </form>
    <cdk-drop lockAxis="y" (dropped)="taskDrop($event)">
      <app-task
        *ngFor="let task of tasks"
        cdkDrag
        class="task"
        [task]="task"
        (markedAsComplete)="onTaskMarkedAsComplete($event)"
        (toggledImportance)="onTaskImportanceToggled($event)"
      >
        <mat-icon cdkDragHandle drag-handle>drag_handle</mat-icon>
        <span *cdkDragPreview drag-preview class="task taskPreview">
          <mat-checkbox></mat-checkbox>
          {{ task.title }}
        </span>
      </app-task>
    </cdk-drop>
    <div class="bottompanel"> 
      <button
        mat-flat-button
        [disabled]="loadingCompletedTasks"
        (click)="openCompletedTasks()"
      >
        <mat-icon>
          assignment_turned_in
        </mat-icon>
        View Completed Tasks
      </button>
      <div class="collaboration">
        <button
          mat-stroked-button
          (click)="openCollaborationDialog()"
        >
          <mat-icon>
            group_work
          </mat-icon>
          Manage Collaboration
        </button>
        <span class="collaborators">
          <div
            *ngFor="let collaborator of list.collaborators.slice(0, 4)"
            class="collaborator"
          >
            {{collaborator.username.charAt(0)}}   
          </div>
        </span>
      </div>
    </div>
  </div>
</mat-nav-list>