/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
}

/* remove white background on all steppers */
body .mat-stepper-horizontal, 
body .mat-stepper-vertical {
    background: none;
}

/* no margin bottom on checkbox label */
.mat-checkbox .mat-checkbox-layout {
    margin-bottom: 0;
}

/* customise material checkbox for task list item */
.task .mat-checkbox .mat-checkbox-frame,
.task .mat-checkbox .mat-checkbox-background {
    border-radius: 50%;
}

.cdk-drag-drop-disable-native-interactions * {
    cursor: grabbing;
}