<mat-list-item>
    <app-avatar matListAvatar [user]="teamMember.user"></app-avatar>
    <h3 matLine>
        {{ teamMember.user.name }}
    </h3>
    <p matLine>
        {{ teamMember.user.username }}
    </p>
    <div class="actions">
        <mat-checkbox
            *ngIf="!teamMember.isCreator"
            [checked]="teamMember.isCreator"
            [disabled]="creatorDisabled" 
        >
            Creator
        </mat-checkbox>
        <mat-checkbox
            *ngIf="!teamMember.isCreator"
            [checked]="teamMember.isLeader"
            [disabled]="leaderDisabled" 
            (click)="changeLeadership()"
        >
            Leader
        </mat-checkbox>
        <button 
            *ngIf="!teamMember.isCreator"
            mat-stroked-button 
            [disabled]="removeDisabled"
            (click)="removeMember()"
            color="accent"
        >
            Remove
        </button>
    </div>
    <div *ngIf="teamMember.isCreator" class="creator">
        Creator
    </div>
</mat-list-item>

