<mat-list-item>
    <app-avatar matListAvatar [user]="teamMember.user"></app-avatar>
    <h3 matLine>
        {{ teamMember.user.name }}
    </h3>
    <p matLine>
        {{ teamMember.user.username }}
    </p>
    <div class="actions">
        <mat-checkbox
            *ngIf="!teamMember.isCreator"
            [checked]="teamMember.isLeader"
            [disabled]="disableLeader" 
            (change)="changeLeadership()"
        >
            Leader
        </mat-checkbox>
        <button
            *ngIf="!teamMember.isCreator"
            mat-icon-button
            [disabled]="disableRemove"
            (click)="removeMember()"
            color="accent"
        >
            <mat-icon>remove_circle</mat-icon>
        </button>
    </div>
    <div *ngIf="teamMember.isCreator" class="creator">
        Creator
    </div>
</mat-list-item>

