.form-field {
    display: block;
}

.image {
    max-width: 400px;
    margin-bottom: 24px;
}

.profileimg {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 50%;
    line-height: 23px;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;
}

.stepbuttons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.nextbutton {
    margin-left: auto;
}

.teamcard {
    margin: 0 auto;
}

.divider {
    margin: 24px 0;
}

.center {
    text-align: center;
}