.profileimg {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
}

#searchInput {
    margin: auto;
}

#memberSearch {
    min-width: 500px;
    font-size: 17px;
}

#teamName {
    min-width: 400px;
    text-align: center;
    font-size: 24px;
}

#teamDescription {
    min-width: 400px;
    text-align: center;
    font-size: 18px;
}

#nameSummary {
    font-size: 24px;
    min-width: 400px;
}

#descriptionSummary {
    font-size: 20px;
    min-width: 400px;
}
