<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Your team details</ng-template>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Team Name"
                                    formControlName="NameCtrl" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <textarea matInput placeholder="Description"
                                    formControlName="DescCtrl"
                                    matTextareaAutosize
                                    matAutosizeMinRows=3
                                    ></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Add some members</ng-template>
            <mat-form-field>
                <!-- drop search component here --> 
                <input type="search" 
                        matInput 
                        placeholder="Search"
                        formControlName="SearchCtrl"
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
            </mat-form-field>
            <!-- display search options here -->
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of filteredUsers | async"
                    [value]="user.username" (click)="addTeamMember(user)">
                    <img class="profileimg" [src]="user.profilePic">
                    <span>{{ user.username }} </span>
                    <mat-divider></mat-divider>
                </mat-option>
            </mat-autocomplete>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
        <mat-divider></mat-divider>
        <!-- display current team members from here -->
        <!-- start first with the team leader -->
        <mat-grid-list cols="3" rowHeight="400px">
            <mat-grid-tile>
                <app-memcard 
                    [teamMember]="currentCreator"
                    [creatorDisabled]="true"
                    [leaderDisabled]="true"
                    [removeDisabled]="true"
                    ></app-memcard>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let member of selectedTeamMembers">
                <app-memcard
                    [teamMember]="member"
                    [creatorDisabled]="true"
                    [leaderDisabled]="false"
                    [removeDisabled]="false"
                    ></app-memcard>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        Team Summary here
        <div>
            <button mat-button>Submit</button>
        </div>
    </mat-step>


</mat-horizontal-stepper>
